html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    padding: env(safe-area-inset-top)env(safe-area-inset-right)env(safe-area-inset-bottom)env(safe-area-inset-left);
    background: #202020;
    margin: 0;
    overflow: hidden
}

#__next {
    width: 100%;
    height: 100%
}